<main role="main">
  <h1>Entries by <%= @user.username %></h1>
  <ul class="entries-list no-bullets no-padding">
    <% @user.entries.each do |entry| %>
      <li class="entry-item pad-b-4">
        <a href="/entries/<%= entry.id %>" class="entry-title font-2 pad-b-1-4 c-white"><%= entry.title %></a>
        <span class="entry-date block font-3-4 c-lt-gray"><%= "Written on #{long_form_date(entry.created_at)}" %>.</span>
        <p class="entry-stub"><%= stub(entry.body) %></p>
      </li>
    <% end %>
  </ul>
</main>