<table>
  <thead>
    <caption><%= user.nickname %></caption>
    <tr>
      <th></th>
      <th>Friend</th>
      <th>You</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Friend with the most friends</td>
      <% most_popular, max_friend_count = user.friend_max_friend_count %>
      <td><%= most_popular %>: <%= max_friend_count %></td>
      <td><%= user.friend_count %></td>
    </tr>

    <tr>
      <td>Most played game (last 2 weeks)</td>
      <% addict, game, play_time = user.friend_most_played_game %>
      <td><%= addict %>: <%= game %> (<%= play_time %> hrs)</td>
      <td><%= user.most_played_game %></td>
    </tr>

    <tr>
      <td>Oldest Steam member</td>
      <% geezer, year = user.friend_oldest_member %>
      <td><%= geezer %>: <%= year %></td>
      <td><%= user.join_date %></td>
    </tr>

    <tr>
      <td>Most games</td>
      <% hoarder, games = user.friend_most_games %>
      <td><%= hoarder %>: <%= games %></td>
      <td><%= user.game_count %></td>
    </tr>
  </tbody>
</table>