<table class="stats">
  <caption><h2>Stats for <%= user.nickname %></h2></caption>
  <colgroup>
    <col class="stats-col-header" span="1">
    <col class="stats-cols-friend" span="2">
    <col class="stats-cols-user" span="2">
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <!-- <th colspan="2">Friend</th> -->
      <!-- <th colspan="2">You</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Most friends</td>
      <% friend, count = user.friend_max_friend_count %>
      <td><%= friend %></td>
      <td><%= count %></td>
      <td>You</td>
      <td><%= user.friend_count %></td>
    </tr>

    <tr>
      <td>Most games</td>
      <% friend, games = user.friend_most_games %>
      <td><%= friend %></td>
      <td><%= games %></td>
      <td>You</td>
      <td><%= user.game_count %></td>
    </tr>

    <tr>
      <td>Most playtime in a game (last 2 weeks)</td>
      <% friend, game, hours = user.friend_most_played_game %>
      <td><%= friend %></td>
      <td><%= game %>: <%= hours %> hrs</td>
      <% user_game, user_hours = user.most_played_game %>
      <td>You</td>
      <td><%= user_game %>: <%= user_hours %> hrs</td>
    </tr>

    <tr>
      <td>Newest Steam member</td>
      <% friend, date = user.friend_newest_member %>
      <td><%= friend %></td>
      <td><%= date.strftime("%m/%d/%Y") %></td>
      <td>You</td>
      <td><%= user.join_date.strftime("%m/%d/%Y") %></td>
    </tr>

    <tr>
      <td>Oldest Steam member</td>
      <% friend, date = user.friend_oldest_member %>
      <td><%= friend %></td>
      <td><%= date.strftime("%m/%d/%Y") %></td>
      <td>You</td>
      <td><%= user.join_date.strftime("%m/%d/%Y") %></td>
    </tr>
  </tbody>
</table>