<table>
  <thead>
    <tr>
      <td><%= user.nickname %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Friend Count:</td>
      <td><%= QueryHandler.friend_count(user) %></td>
    </tr>

    <tr>
      <td>Most played game:</td>
      <% most_played_game, time = QueryHandler.most_played_game(user) %>
      <td><%= "#{most_played_game} (#{time})" %></td>
    </tr>

    <tr>
      <td>Join date:</td>
      <td><%= QueryHandler.join_date(user) %></td>
    </tr>

    <tr>
      <td>Friend with the most friends:</td>
      <% most_popular, friend_count = QueryHandler.friend_with_most_friends(user) %>
      <td><%= "#{most_popular.nickname} (#{friend_count})" %></td>
    </tr>

    <tr>
      <td>Friend with the most games:</td>
      <% most_games, game_count = QueryHandler.friend_with_most_games(user) %>
      <td><%= "#{most_games.nickname} (#{game_count})" %></td>
    </tr>

    <tr>
      <td>Most achievements:</td>
      <td><%=  %></td>
    </tr>

    <tr>
      <td>Most playtime:</td>
      <%# addict, game, time = QueryHandler.friend_most_played_game(user) %>
      <td><%# "#{addict.nickname}, #{game.name} (#{time})" %></td>
    </tr>

    <tr>
      <td>Oldest member:</td>
      <% eldest, join_date = QueryHandler.oldest_member(user) %>
      <td><%= "#{eldest.nickname} (#{join_date})" %></td>
    </tr>
  </tbody>
</table>